$acolor: rgba(0,0,0,.65);
$navcolor: #25a2d0;
$line: 1px solid rgba(0,0,0,.2);
$blackline: 1px solid black;

*{
  margin: 0;
  padding: 0;
}

a{
  style: none;
}

/*layout*/
 #header{
   background: url("C:/Users/kshee/Desktop/BreakingCSS/img/MainBackGround.jpg") repeat-x center top;
 }

#nav{

}

/*참고는 퀄리티 있는 사이트로! 유명한 사이트가 차라리 낫다. 허접한 곳은 참고 노노*/
#contents{
  .container{
    border-left: $line;
    border-right: $line;

    //&:after{
    //  content: "";
    //  display: table;
    //  clear: both;
    //}
  }
}

#cont-left{
  float: left;
  width: 250px;
}

#cont-center{
  /*중심을 잡기 위함. 규칙은 설명할 수 없다.*/
  overflow: hidden;
  min-height: 1400px;
  margin-right: 250px;
  border-left: $line;
  border-right: $line;
}

#cont-right{
  width: 250px;
  position: absolute; right: 0; top: 0px;
}

#footer{
  width: 100%; height: 200px;
  border-top: 1px solid rgba(0,0,0,1);
}

 .container{
   width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 /*quick*/
.quick{
  text-align: right;
}

.quick a{
  color: white;
  padding: 5px 0 4px 10px;
  /*inline tag는 기본적으로 padding이나 margin 속성이 안 먹힘 */
  display: inline-block;
  transition: all 0.5s ease;
}

.quick a:hover{
  color: #ccc;
}

.title{
  text-align: center;
  text-transform: uppercase;
  padding-top: 75px;

  p{
    display: inline;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #51b0dc;
    color: white;
  }

  h1 a{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #4a9abc;
    color: white;
    margin-top: -4px;
  }
}

/* icon-font*/

.icon-font{
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;

    li{
      display: inline;
      position: relative;
      a{
        display: inline-block;
        width: 60px;
        height: 60px;
        color: white;
        background-color: $acolor;
        font-size: 35px;
        border-radius: 50%;
        margin: 0 3px;

        .tool{
          font-size: 12px;
          position: absolute;
          left: 50%;
          top: -70px;
          background-color: $acolor;
          padding: 1px 7px;
          transform: translateX(-50%);
          border-radius: 6px 0;
          opacity: 0;
          transition: all 0.5s ease-in-out;

          /*: 하나만 쓰면 explore 9까지 작동함*/
          &:before{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            /*왜 -5px 주는지도 생각해보자*/
            margin-left: -5px;
            /*모양을 어떻게 만드는지는 나중에 다시 짚고 넘어갈 것.*/
            border-top: 5px solid $acolor;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
        }
      }

      a:hover{
        .tool{
          opacity: 1;
          top: -60px;
        }
      }
    }
}

/*nav*/
.nav{
  padding: 30px 0;

  h2{
    font-size: 16px;
    color: $navcolor;
    padding-bottom: 5px;
  }

  li{
    position: relative;
    float: left;
    width: 20%;
    padding-left: 8px;
    box-sizing: border-box;

    a{
      padding: 3px;
      border-radius: 2px;
      transition: all 0.1s ease;

    }

    a:hover{
      background-color: $navcolor;
      color: white;
    }

    &:before{
      content: '';
      width: 3px;
      height: 3px;
      background-color: $navcolor;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      top:8px;
    }
  }
}

.tit{
  text-align: center;
  height: 65px;
  background: rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(241,40,40,1);

  h2{
    font-size:  39px;
    color: #0093bd;
    font-family: 'Nanum Gothic';
  }

  .btn{
    position: absolute;
    right: 0;
    top: 3px;

    a{
      width: 60px;
      height: 60px;
      display: block;
      color: white;
      background-color: #4a9abf;
      border-radius: 50%;
      font-size: 33px;
      line-height: 64px;
    }
  }
}

/*cbox*/
.cbox{
  padding: 15px;
  border-bottom: $blackline;

  .cbox-tit{
    font-size: 20px;
    color: #2f7fa6;
  }
  .cbox-desc{
    border-bottom: 1px dashed black;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #878787;
  }
}

#cont-left article:last-child{
  border-bottom: 0;
}
#cont-center article:last-child{
  border-bottom: 0;
}
#cont-right article:last-child{
  border-bottom: 0;
}

.menu{
  li {
    position: relative;
    a {
      display: block;
      font-size: 16px;
      text-transform: uppercase;
      color: #878787;
      border-bottom: 1px solid #dbdbdb;
      padding: 10px;
      transition: all 0.3s ease;

      i {
      position: absolute;
      right: 5%; top: 50%;
      transform: translateY(-50%);
      }
    }

    a:hover{
      color: #333;
    }
  }
}

/*notice*/
.notice{
  position: relative;

  h5{
    font-size: 14px; color: #2f7fa6;
  }

  li{
    /*overflow부터 white-space까지 li 한 줄 출력 기능*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-left: 8px;

    &:before{
      content:''; width: 3px; height: 3px;
      background-color: #449ce2;
      position: absolute;
      left:0; top:8px;
      border-radius: 50%;
    }
  }

  .more{
    position: absolute; top: 6px; right: 0;
    text-transform: uppercase;
    /*9px가 최소 크기다*/
    font-size: 9px;

    a{
      color: #878787;
    }
  }
}

.footer{

}

@media (max-width: 1280px) {
  /*container는 나중에 스크롤바 등 여러 문제가 생길 수 있기 때문에 무조건 100을 유지해줘야 한다.*/
  .container{
    width: 100%;
    .row{
    padding: 0 15px;
    }
  }
  .tit{
    .btn{
      margin-right: 15px;
    }
  }

  /*외국사이트 같은 경우에는 아예 처음부터 box-sizing을 재조정하는 경우도 있다.*/
  #contents{
      .container{
        border:0;
      }
    }
}

/*media query는 항상 밑에 있어야 한다. 중간에 있으면 오류난다.*/
@media (max-width: 1024px) {
 .nav li{
   width: 25%;
 }
}

@media (max-width: 960px) {
  #cont-right{
    width: 100%;
    position: static;
    border-top: $line;
  }
  #cont-center{
    margin-right: 0;
    border-right: 0;
  }
}

@media (max-width: 768px) {
 .nav li{
   width: (100%/3);
 }
}

@media (max-width: 600px) {
  /*반응형은 높이값이 있으면 안 된다.*/
 .title, .icon-font, .nav, .btn{
   display: none;
 }
  #cont-left{
    float: none;
    width: 100%;
  }
  #cont-center{
    border-left: 0;
    border-top: $line;
  }
  .cbox.column1 {
     padding: 0;
    border-bottom: 0;

    .cbox-tit{display:none;}
    .cbox-desc{display:none;}

    .menu ul{
      overflow: hidden;
      li {
        text-align: center;
        float: left;
        width: (100%/3);
        border-right: 1px solid #dbdbdb;
        box-sizing: border-box;
        a {
          text-shadow: 0 0 5px rgba(0,0,0,.5);
          color: white;
          i {
          display: none;
        }
      }
      }
      li:nth-child(3n){
        border-right: 0;
      }
    }
  }

  .cbox.column2{
    background-color: #f1f4fb;
  }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}